# Data files
*.csv
.xlsx
.json
.pkl
.feather
.txt
.gitignore

# Large files
.zip
.7z
.tar.gz

# Log files
.log

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea

# Jupyter Notebook
.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.egg-info/
.installed.cfg
.egg
MANIFEST

# PySpark
.ipynb_checkpoints

# Other system or IDE-specific files
.DS_Store
Thumbs.db